body {
    margin-left: 10px;
}
h1{
    font-size: 500%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
    animation: 3s linear 1s slidein;
    
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

h2{
    font-size:300%;
    color:rgb(26, 18, 77);
    font-family:'Times New Roman', Times, serif;
}
h3{
    font-size:200%;
    color:rgb(5, 5, 77);
    font-family:'Times New Roman', Times, serif */
}
body{
    background-color: #d1d7e5;
    font-family:'Times New Roman', Times, serif;
}
img{
    display: block;
    margin: auto
}
li{
    display: block;
    margin-left: 50px;
}
div ul li {
    display: list-item
}
div{
    line-height: 1.5;
}
nav ul {   
    border: 2px solid black;
    text-size-adjust: auto;
    text-align: center; 
}

nav {
    background-color: white;
    padding: 5px;
    margin: 20px;

}

a[href= '#main']{
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    transition: transform 0.3s;
}
a[href='#main']:focus {
    transform: translateY(0%);
}

.thumbnail{
    border:solid,20px, green;
    margin:20px;
    display: block;

}
#nav {
    width: 150px;
    list-style: none;
}
#nav a {
    color: black;
    text-decoration: none;

}
.current{
    color: white;
    background-color: black;
    text-transform: uppercase;
}
figcaption {
    text-align: center;
}





@media only screen and (max-width:600px){
    body {
        background-color: lightcoral;
    }

    span {
        display: inline-block;
        margin: auto;
    }
    div {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px
        
    }
    h1 {
        font-size: 400%;
        grid-column: 1/span 3;

    }

    
    img.one {
        border: black solid 2px;
        grid-column: 2;
    }
    p{
        grid-column: 1/span 3;
    }
    }
    h2 {
        font-size: 350%;
        text-align: center;
        grid-column: 1/span 3;
    }
    h3 {
        font-size: 300%;
        text-align: center;
        grid-column: 1/span 3;
    }
    h4 {
        grid-column: 2/ span 1;
    }
    ul, ol{
        grid-column: 2/span 1;
    }

    p{
        margin-left: 10px;
    }
    p:nth-child(2) {
        text-align: center
    }
    li{
        text-align: center;
        margin: auto
    }
    .gif {
        grid-column: 2/span 1;
    }
    

    

    
 
   
    /* body {
        background-color:lightblue;
        margin-left: 10px;
    }
    nav {
        text-align: left;
    }
    nav > ul{
        margin: auto;
        border: solid black;
        grid-column: 1;
    }
    p {
        margin: auto;
        padding: 10px
    }
    div > img {
        display: grid;

    }
    #firstpic{
        grid-column: 2;
    }

    /* h2, h3 {
        text-align: center;
    } */
    /* ul> li {
        display: inline-block
    }

    figure > img {
        grid-column: 1;
    }
    /* figcaption{
        text-align: center;
    } */
    /* h2 ul li {
        grid-column: 2;
    }
    ul{
        list-style: disc;
        padding-left: 10px;
    } */ */ */
    



@media (prefers-reduced-motion: reduce) {
    .gif{
        display: none;
      }
    h1 {
        animation-play-state: paused;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px)
{
body{
    background-image: linear-gradient(to bottom right, rgb(117, 154, 223), rgb(200, 248, 255));;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-rows: auto;
}
nav{
    grid-column: 4/ span 1;
    grid-row: 1;
    background-color: rgb(162, 205, 247);
}
nav ul {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-top: 60px;
    font-size: 150%;
    margin-left: 10px

}
h1 {
    /* grid-column: 1/span 4;
    grid-row: 2; */
    font-size: 350%;
    animation-play-state: paused;
}
div {
    margin:50px
}
figcaption {
    text-align: center;
}
img{
    padding: 10px; 
}
.gallery{
    display: inline-block;
}
}
.gif{
    display: none
}

.one {
    transition: transform 1s ease;
}

.one:hover {
    transform: translateX(30px)
}
